<!DOCTYPE html>
<html>
    <head>
        <title>
            SIH2020
        </title>
    </head>
    <body>
        <div>
            <div>
                <%=message%>
            </div>
            <form method="POST" action="/sms">
                <input style="height: 300px;width: 500px;" name="sms">
                <button type="submit">
                    Send SMS
                </button>
            </form>
        </div>
    </body>
</html>